{% extends "layout.html" %}

{% block title %}
Account
{% endblock %}

{% block main %}

{% if ids %}

<p></p>
<div>
<p class="fs-5 fw-semibold text-center">My Courses</p>


<div class="album">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 g-3">

      {% for id in ids %}

      <form action="/course" method="post">

      <div class="col">
        <div class="card shadow-sm">
          <img src="../static/images/courses/{{ id.id }}.png" class="bd-placeholder-img card-img-top" width="100%" height="255" alt="...">

          <div class="card-body">
            <p class="card-text fw-bold">{{ id.name }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button class="btn btn-sm btn-outline-secondary" id="id" name="id" value="{{ id.id }}">Take this course!</a>
              </div>
              <small class="fs-6 fw-semibold">Enrolled</small>
            </div>
          </div>
        </div>
      </div>

    </form>

      {% endfor %}

    </div>
  </div>
</div>




{% else %}





<div class="album py-5 bg-light">
  <div class="container">

    <p class="text-center fs-5 fw-semibold">Latest Courses</p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      {% for free in frees %}

      <form action="/info" method="get">

      <div class="col">
        <div class="card shadow-sm">
          <img src="../static/images/courses/{{ free.id }}.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="...">

          <div class="card-body">
            <p class="card-text fw-bold">{{ free.name }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button class="btn btn-sm btn-outline-secondary" id="id" name="id" value="{{ free.id }}">Enroll</a>
              </div>
              <small class="fs-6 fw-semibold">{% if free.price == 0 %}Free{% else %}${{ free.price }}{% endif %}</small>
            </div>
          </div>
        </div>
      </div>

    </form>

      {% endfor %}
      
    </div>
  </div>
</div>
</div>



{% endif %}  

{% endblock %}