{% extends "layout-account.html" %}

{% block title %}
Account
{% endblock %}

{% block main %}

{% if ids %}
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      {% for id in ids %}

      <form action="/course" method="post">

      <div class="col">
        <div class="card shadow-sm">
          <img src="../static/courses/{{ id.id }}.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="...">

          <div class="card-body">
            <p class="card-text">{{ id.text }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button class="btn btn-sm btn-outline-secondary" id="id" name="id" value="{{ id.id }}">Take this course!</a>
              </div>
              <small class="fs-6 fw-semibold">{{ id.price }}</small>
            </div>
          </div>
        </div>
      </div>

    </form>

      {% endfor %}

    </div>
  </div>
</div>




{% else %}





<div class="album py-5 bg-light">
  <div class="container">

    <p class="text-center fs-5 fw-semibold">Latest Courses</p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      {% for free in frees %}

      <form action="/course" method="post">

      <div class="col">
        <div class="card shadow-sm">
          <img src="../static/courses/{{ free.id }}.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="...">

          <div class="card-body">
            <p class="card-text">{{ free.text }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button class="btn btn-sm btn-outline-secondary" id="id" name="id" value="{{ free.id }}">Enroll</a>
              </div>
              <small class="fs-6 fw-semibold">{{ free.price }}</small>
            </div>
          </div>
        </div>
      </div>

    </form>

      {% endfor %}
      
    </div>
  </div>
</div>




{% endif %}  

{% endblock %}