{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<p></p>
{% if not courses %}
    <form action="/admin" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="id">
                <option disabled="" selected="" value="Symbol">None</option>
                {% for id in ids %}
                    <option value="{{ id.id }}">{{ id.id }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>

{% else %}
{% for course in courses %}

<form action="/admin" method="post">

    <div class="mb-3">
        <a name="id"><large>Course : {{ course.id }}</large></a>
    </div>


    <div class="input-group" name="text" id="text" >
        <span class="input-group-text">With textarea</span>
        <textarea class="form-control" aria-label="With textarea" name="text" id="text" type="text" value="{{ course.text }}">{{ course.text }}</textarea>
      </div>
      <p></p>
    <button class="btn btn-primary" type="submit">Submit</button>


</form>

{% endfor %}
{% endif %}

{% endblock %}