{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

{% if session["user_id"] %}

<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
           
      <img class="img-fluid bd-placeholder-img bd-placeholder-img-lg d-block w-100" src="../static/img.png" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect></img>
  
        <div class="py-5 carousel-caption center-top">
          <h1>Example headline.</h1>
          <p>Some representative placeholder content for the first slide of the carousel.</p>
          <p></p>
        </div>
      </div>
  </div>




  <div class="container text-center">
    <p></p>
    <p class="fs-5 fw-semibold">Lorem Ipsum</p>
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
  </div>  

{% endif %}

{% endblock %}